<html>

<form action="/editForm" method="post">

<p> <input name="id" value='<%= event.id %>' hidden >  </p>
<p> Name: <input name="name" value='<%= event.name %>' > </p>
<p> Location: <input name="location" value='<%=event.location%>' > </p>
<p> Time: <input name="time" value='<%=event.time%>' > </p>
<p> Date: <input name="date" value='<%=event.date%>' > </p>
<p> Host: <input name="host" value='<%=event.host%>' > </p>
<p> Description: <input name="description" value='<%=event.description%>'> </p>

<input type="submit" value="Submit form!">

</form>


</html>