<html>

<form action="/editMemo" method="post">

<p> <input name="id" value='<%= report.id %>' hidden >  </p>
<p> Administrator Name : <input name="name" value='<%= report. %>' > </p>
<p> Administrator School: <input name="school" value='<%=event.location%>' > </p>
<p> Date Memo Submitted: <input name="date" value='<%=event.time%>' > </p>
<p> Adminstrator Understanding of Incident: <input name="time" value='<%=event.date%>' > </p>
<p> Planned action steps: <input name="solution" value='<%=event.host%>' > </p>

<input type="submit" value="Submit form!">

</form>


</html>