
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #868686;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="/logout">Log out</a>
  <a href="/status">Vacation statuses</a>
  <a href="/reports">Reports</a>
  <a href="/events">Events</a>
  <a href="/dashboard">Dashboard</a>
  <a href="/students">Search for students</a>
</div>

</body>
<h1> Events </h1>
<body>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Time</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <% events.forEach((event) => { %>
      <tr>
        <th> <%= event.name %> </th>
        <td> <%= event.location %> </td>
        <td> <%= event.time %> </td>
        <td> <%= event.date %> </td>
        <td> <a href='/event?id=<%=event.id%>'> Show </a> </td>
      </tr>
    <% }); %>
  </tbody>
</table>
</body>
</html>
