<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #868686;
  color: white;
}
</style>

</head>
<body>
<div class="topnav">
  <a class="active" href="/logout">Log out</a>
  <a href="/status">Vacation statuses</a>
  <a href="/reports">Reports</a>
  <a href="/events">Events</a>
  <a href="/dashboard">Dashboard</a>
  <a href="/students">Search for students</a>
</div>
</body>
<head>

<style>
div {
  background-color: #D3D3D3;
  text-align: center;
}
</style>

<html>
<head>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>

</head>
<body>
<div><p> <br />
  <%= person.name %>, change your vacation status here:
<form action="/changed" method="post">
  <button class="button" type="submit" onclick="myFunction();">Change Status</button>
  </p>
  <br />
</form>
</div>
</body>

<html>
<head>
<style>
#statuses {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#statuses td, #statuses th {
  border: 1px solid #ddd;
  padding: 8px;
}

#statuses tr:nth-child(even){background-color: #f2f2f2;}

#statuses tr:hover {background-color: #ddd;}

#statuses th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<table id="statuses" width=100% align=center class="tg">
    <tr>
    <th align=center  class="tg-fymr">Admin</th>
    <th align=center  class="tg-fymr">On Vacation</th>
  </tr>
  <% statuses.forEach((status) => { %>
  <tr>
    <% if(status.email == person.email) { %>
    <td align=center  class="tg-0lax"><b><%= status.name %></b></td>
    <td align=center  id=<%=status.email%> class="tg-0lax"><b><%= status.onVacation%></b></td>
    <% } else { %>
    <td align=center  class="tg-0lax"><%= status.name %></td>
    <td align=center  id=<%=status.email%> class="tg-0lax"><%= status.onVacation%></td>
    <% } %>
  </tr>
<% }); %>
</table>
</html>
