<!DOCTYPE html>
<html>
<body>
	<h1> <%= student.name %> </h1>
	<p> Age: <%= student.age %> </p>
	<p> Gender: <%= student.gender %> </p>
	<p> School: <%= student.school %> </p>
	<p> Reports:  </p> 
	<% if (reports) { %>
		<% reports.forEach((report) => { %>
			<%= report.subject %>
		<% }) %>
	<% } %>
	<p> <a href="/students"> Back to all students </a> </p>
</body>
</html>